{% extends 'admin/base.back.html.twig' %}

{% block title %}Dashboard Utilisateur
{% endblock %}

{% block body %}

	<main class="flex min-h-80vh w-full flex-col items-center justify-between rounded-2xl bg-transparent p-4">
		<h1 class="mb-6 flex flex-wrap text-4xl text-center">Dashboard Utilisateur</h1>
		<section id="InfoCards" class="mb-4 flex h-1/6 w-full justify-around max-sm:h-1/4 flex-wrap">
			{% include "admin/component/cardUser.html.twig" with  {"title" :"Nombre utilisateurs","data": countUsers,'add':true,'id':'cardNumberLength' }%}
			{% include "admin/component/cardUser.html.twig" with  {"title" :"Utilisateurs vérifiés","data": countUsersVerified,'add':false,'id':'cardUserVerfied' }%}
			{% include "admin/component/cardUser.html.twig" with  {"title" :"Utilisateurs non vérifiés","data": countUsersNotVerified,'add':false,'id':'cardUserNotVerfied' }%}
		</section>

		<section id="InfosUser" class="h-full w-full">
			<div id="tabUserGridJs" class="h-full w-full"></div>
		</section>
		{% include "admin/component/modal.html.twig" %}

	</main>
{% endblock %}

{% block script_js %}
	{{ parent() }}


	<script src="{{ asset('js/admin/userGrid.js') }}"></script>
	<script src="{{ asset('js/admin/user.js') }}"></script>
{% endblock %}
