{% extends 'admin/base.back.html.twig' %}

{% block title %}Dashboard Utilisateur
{% endblock %}

{% block body %}

	<main class="flex min-h-80vh w-full flex-col items-center justify-between rounded-2xl bg-transparent p-4">
		<h1 class="mb-6 flex flex-wrap text-sm md:text-4xl text-center overflow-hidden">Société
			{{society.name}}</h1>

		<section id="InfoCards" class="mb-4 flex flex-wrap h-1/6 w-full justify-around max-sm:h-1/4 max-lg:flex-col max-lg:items-center">
			{% set usersVerified = 0 %}
			{% for user in society.users %}
				{% if user.isVerified == true %}
					{% set usersVerified = usersVerified + 1 %}
				{% endif %}
			{% endfor %}
			{% set usersNotVerified = society.users|length - usersVerified %}

			{% include "admin/component/cardUser.html.twig" with  {"title" :"Nombre utilisateurs","data": society.users|length,'add':false }%}
			{% include "admin/component/cardUser.html.twig" with  {"title" :"Utilisateurs vérifiés","data": usersVerified,'add':false }%}
			{% include "admin/component/cardUser.html.twig" with  {"title" :"Utilisateurs non vérifiés","data": usersNotVerified,'add':false }%}
		</section>
		<h1 class="mb-6 flex flex-wrap text-sm md:text-4xl text-center overflow-hidden">Les utilisateurs de la société
		</h1>
		<section id="InfosUser" class="h-full w-full">
			<div id="tabUserGridJs" class="h-full w-full" data-id="{{society.id}}"></div>
		</section>
		{% include "admin/component/modal.html.twig" %}

	</main>
{% endblock %}

{% block script_js %}
	<script src="{{ asset('js/admin/societyUserGrid.js') }}"></script>
	<script src="{{ asset('js/admin/user.js') }}"></script>
{% endblock %}
