{{ form_start(form, {'action': form_action, 'attr': {'class': 'w-full'}}) }}
{{ form_widget(form) }}
<button class="text-white font-medium bg-nav-btn hover:bg-blue-800 transition-all duration-300 ease-out rounded-lg px-3 py-2 mt-7 mb-1">{{ button_label|default('Sauvegarder votre catégorie') }}</button>
{{ form_end(form) }}