{{ form_start(form, {'action': form_action, 'attr': {'class': 'w-full'}}) }}
{{ form_widget(form) }}
<button id="save-button"  class="text-white font-medium bg-nav-btn hover:bg-blue-800 transition-all duration-300 ease-out rounded-lg mt-7 mb-3 px-3 py-2 verif ">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
