{% extends 'base.html.twig' %}

{% block title %}Edit Formula
{% endblock %}

{% block body %}

	{% set modal_id = 'formulaEditModal' %}
	{% set modal_content_id = 'formulaEditModalContentId' %}

	<!-- Close Button -->
	<button class="absolute top-3 right-3 text-white font-medium bg-red-500 hover:bg-red-700 transition-all duration-300 ease-out rounded-lg px-2 py-1" onclick="toggleModal('formulaEditModal', 'formulaEditModalContentId')">
		Fermer
	</button>

	<!-- Contenu de notre modal ici  -->
	<h2 class="text-3xl mb-5 dark:text-white">Modifier Une Formule</h2>


	{{ include('formula/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	{{ include('formula/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/formula.js') }}"></script>
{% endblock %}
