{% extends 'base.html.twig' %}

{% block title %}Modification d'un produit{% endblock %}

{% block body %}
	{% set modal_id = 'productEditModal' %}
	{% set modal_content_id = 'productEditModalContent' %}

    <!-- Close Button -->
	<button class="absolute top-3 right-3 text-white font-medium bg-red-500 hover:bg-red-700 transition-all duration-300 ease-out rounded-lg px-2 py-1" onclick="toggleModal('productEditModal', 'productEditModalContent')">
		Fermer
	</button>

    <!-- Contenu de notre modal ici  -->
	<h2 class="font font-semibold text-lg mb-2">Modifier votre produit</h2>

    

    {{ include('product/_form.html.twig', {'button_label': 'Mettre à jour ce produit'}) }}

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/produit.js') }}"></script>
{% endblock %}