{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <!-- Conteneur pour le tableau Grid.js -->
    <div id="product-table"></div>

    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var csrfToken = '{{ csrf_token('delete_product') }}'; // Générer le jeton CSRF
    </script>
    <script src="{{ asset('js/productGrid.js') }}"></script>
{% endblock %}
