{# templates/components/benefits_card.twig #}
<div class="w-full lg:w-2/5 h-96 rounded-3xl bg-white dark:bg-dark-card shadow-md p-5 flex flex-col justify-around items-start">
  <img class="w-16 h-16 my-3" src="{{ asset(icon_path) }}" alt="icon" />
  <h3 class="text-3xl font-medium text-black dark:text-white">{{ title }}</h3>
  <p class="text-xl font-normal dark:text-white">{{ description }}</p>
</div>
