{# Set 'topHeight' attribute with a default value of 'top-5' if not provided #}
{% set topHeight = topHeight|default('top-5') %}

<div id="toggleDarkMode" class="group fixed {{ topHeight }} right-5 rounded-full p-1 border border-solid border-yellow-500 flex justify-center items-center cursor-pointer hover:bg-yellow-500 hover:border-yellow-500 transition-all duration-300 ease-out">
  <span class="material-symbols-outlined text-yellow-500 group-hover:text-white transition-all duration-300 ease-out">light_mode</span>
</div>

<div id="toggleLightMode" class="group fixed {{ topHeight }} right-5 rounded-full p-1 border border-solid border-white flex justify-center items-center cursor-pointer hover:bg-cyan-500 hover:border-cyan-500 transition-all duration-300 ease-out hidden">
  <span class="material-symbols-outlined text-white group-hover:text-black transition-all duration-300 ease-out">dark_mode</span>
</div>
