<article
  class="flex h-full min-w-fit justify-around rounded-lg bg-black p-3 text-white shadow-lg max-sm:flex-col max-sm:justify-center max-sm:rounded-2xl max-sm:p-1"
>
  <div class="flex flex-col justify-center px-4 py-1 max-sm:px-2">
    <h4 class="text-center">Ca Total</h4>
    <p class="text-center text-2xl font-semibold">$110.100</p>
  </div>
  <div class="flex items-center justify-center px-4 py-1 max-sm:px-2">
    <button
      class="h-fit w-fit rounded-lg bg-indigo-600 px-4 py-3 transition-all max-sm:rounded-xl max-sm:px-3 max-sm:py-2 hover:bg-indigo-500"
    >
      Ajouter
    </button>
  </div>
</article>
