<!-- Modal OVERLAY -->
<div
  class="fixed top-0 left-0 hidden h-screen w-full bg-gray-600 bg-opacity-50 opacity-40"
  id="modal_id"
  onclick="displayModal(false)"
></div>

<!-- Modal -->
<div
  class="absolute top-up hidden left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-all duration-500 max-h-modal-height px-9 py-5 border border-white dark:border-dark-section w-modal-width shadow-lg rounded-3xl bg-white dark:bg-dark-section overflow-y-auto"
  id="modal_content_id"
>
  <!-- Close Button -->
	<button class="absolute top-3 right-3 text-white font-medium bg-red-500 hover:bg-red-700 transition-all duration-300 ease-out rounded-lg px-2 py-1"
  onclick="displayModal(false)">
		Fermer
	</button>
  <div id="content" class="h-full w-full flex flex-col justify-start items-start gap-3">
    <!-- Contenu dynamique ici -->
  </div>
</div>
